<section class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl | default: '/' }}">
          <span class="text-color">@</span>arodu
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl | default: '/' }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}/about">About me</a>
      <a class="sidebar-nav-item{% if page.url == '/project/' %} active{% endif %}" href="{{ site.baseurl }}/project">My projects</a>

      {% comment %}
      <a class="sidebar-nav-item{% if page.url == '/blog/' %} active{% endif %}" href="{{ site.baseurl }}/blog">Blog</a>
      {% endcomment %}

      <span class="sidebar-nav-item" style="font-size:1.4rem">
        <a class="social-link" target="_blank" rel="noopener noreferrer" href="https://github.com/arodu"><i class="fab fa-github fa-fw"></i></a>
        <a class="social-link" target="_blank" rel="noopener noreferrer" href="https://t.me/arodu"><i class="fab fa-telegram-plane fa-fw"></i></a>
        <a class="social-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/arodu/"><i class="fab fa-linkedin-in fa-fw"></i></a>
        <a class="social-link" target="_blank" rel="noopener noreferrer" href="mailto:arodu.dev@gmail.com"><i class="far fa-envelope fa-fw"></i></a>
      </span>
    </nav>

    <p><small>&copy; 2020. All rights reserved.</small></p>

    {% comment %}
    <p><small>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</small></p>
    {% endcomment %}

  </div>
</section>
