---
layout: default
---

<article class="post">
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  <div class="post-subtitle d-flex">
    <span class="post-category">
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/{{ category | slugify }}">{{ category | capitalize }}</a>{% unless forloop.last %} / {% endunless %}
      {% endfor %}
    </span>
    <span class="post-date">
      {% if page.project-date %}
        {{ page.project-date }}
      {% else %}
        {{ page.date | date_to_string }}
      {% endif %}
    </span>
  </div>

  {{ content }}

  {% if page.tags != empty %}
    <div class="tag-list" title="tags">
      <strong class="title">tags:</strong>
    	<div class="items">
    		 <strong>[</strong>
    		{% for tag in page.tags %}
          <a class="tag-item" href="/tag/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      <strong>]</strong>
    	</div>
    </div>
  {% endif %}

</article>

{% include related-posts.html %}
